{{ define "extension_object" }}
{{- /*gotype: entgo.io/ent/entc/gen.Graph*/ -}}

{{ template "header" $ }}
{{ $pkg := base $.Config.Package }}
{{ template "import" $ }}

{{- range $n := $.Nodes }}
    {{- $input := $n.Name }}
    {{ $fields := $n.Fields }}
    type Update{{ $input }}Input struct {
    {{$n.ID.StructField}} *{{ $n.ID.Type }}
    {{- range $f := $fields }}
        {{ $f.StructField }} *{{ $f.Type }}
    {{- end }}
    }

    type Create{{ $input }}Input struct {
    {{$n.ID.StructField}} *{{ $n.ID.Type }}
    {{- range $f := $fields }}
        {{ $f.StructField }} *{{ $f.Type }}
    {{- end }}
    }
{{- end }}
{{ end }}
