{{ define "extension_mutation_create" }}
{{- /*gotype: entgo.io/ent/entc/gen.Graph*/ -}}

{{ template "header" $ }}
{{ $pkg := base $.Config.Package }}
{{ template "import" $ }}

{{ range $n := $.Nodes }}
    {{ $createBuilder := $n.CreateName }}
    {{ $createReceiver := receiver $createBuilder }}
    {{ $fields := $n.Fields }}

    func ({{ $createReceiver }} *{{ $createBuilder }}) Copy(input *Create{{ $n.Name }}Input) *{{ $createBuilder }} {
    if input.{{ $n.ID.StructField }} != nil {
    {{ $createReceiver }}.Set{{ $n.ID.StructField }}(*input.{{ $n.ID.StructField }})
    }
    {{- range $f := $fields }}
        {{ $field := $f.StructField }}
        {{ $set := print "Set" $field }}
        if input.{{ $field }} != nil {
        {{ $createReceiver }}.{{ $set }}(*input.{{ $field }})
        }
    {{- end }}
    return {{ $createReceiver }}
    }
{{ end }}

{{ end }}
